.env

# Ignore everything in workspace
workspace/**
# But don't ignore the directory itself (required so the next rule works)
!workspace/
# Don't ignore the specific subdirectory
!workspace/pyformalize/
!workspace/pyformalize/**

workspace/pyformalize/__pycache__/**

